/* Top Push Menu */
.l-top-push-menu .c-header {
	top: 0;
}

/* Right Push Nav */
.l-right-push-menu .c-header {
	text-align: right;
}

/* Bottom Push Menu */
.l-bottom-push-menu .c-header {
	bottom: 0;
}

/* Left Push Nav */
.l-left-push-menu .c-header {
	text-align: left;
}
