/****** Extensive CSS Reset ******/

/* All tags */
* {
	box-sizing: border-box;
}

/* Main root */
html,

/* Sectioning root */
body,

/* Content sectioning */
address,
article,
aside,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
main,
nav,
section,

/* Text content */
blockquote,
dd,
div,
dl,
dt,
figcaption,
figure,
hr,
li,
menu,
ol,
p,
pre,
ul,

/* Inline text semantics */
a,
abbr,
b,
bdi,
bdo,
br,
cite,
code,
data,
dfn,
em,
i,
kbd,
mark,
q,
rp,
rt,
ruby,
s,
samp,
span,
strong,
sub,
sup,
time,
u,
var,
wbr,

/* Image and Multimedia */
area,
audio,
img,
map,
track,
video,

/* Embedded Content */
embed,
iframe,
object,
picture,
portal,
source,

/* SVG + MathML */
svg,
math,

/* Scripting */
canvas,
noscript,
script,

/* Demarcating edits */
del,
ins,

/* Table content */
caption,
col,
colgroup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,

/* Forms */
button,
datalist,
fieldset,
form,
input,
label,
legend,
meter,
optgroup,
option,
output,
progress,
select,
textarea,

/* Interactive Elements */
details,
dialog,
summary,

/* Web Components */
slot,
template {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
